*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set the background color of the page */
body {
font-family: Arial;
    background-color: #D3D3D3;
    position: relative;
    padding-bottom: 59px;
    min-height: 100vh;

}
header {
  text-align: center;
  background-color: #333;
  color: #ffffffff;
  padding: 50px;
}
header h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
header p {
  font-size: 22px;
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;

}
article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
article:last-child {
  margin-bottom: 0;
}
article h3 {
  margin: 10px 0 25px 0;
}
article p {
  margin-top: 16px;
  line-height: 24px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

}
.slider img {
 flex: 1 0 100%;
 scroll-snap-align: start;
 object-fit: cover;

}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#fff;
    opacity: 0.75;
    transition: opacity ease 250ms;

}
.slider-nav a:hover{
    opacity: 1;
}


/* Style the heading */
h1 {
    color: #333;
    text-align: center;
}

/* Style the image */



img {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
}

/* Style the paragraphs */
p {
    margin: 1em 0;
    line-height: 1.5;
}

/* Style the links */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style the headings */
h2 {
    margin-top: 1.5em;
    font-size: 1.2em;
    color: #333;
}

/* Style the list items */
li {
    margin: 0.5em 0;
}

/* Style the contact information */
.address {
    font-style: italic;
    font-size: 0.9em;
}

/* Style the phone numbers */
.phone {
    font-weight: bold;
    font-size: 1.1em;
}
#mapa {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
top: -30px;
   left: 50%;
   transform: translateX(-50%)
